@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --rose--500: #f43f5e;
  --rose--400: #fb7185;
  --rose--300: #fda4af;
  --white--000: #fff;
}

body {
  font-family: 'Noto Sans';
  background-color: var(--rose--300);
}